@import 'main.scss';
[ui='anime'] {
.content {
	--poster-col: 0.1;
}
.top {
	background-color: #0005;
	transition-duration: $default-transition;
	transition-delay: 1s;
}
.top.fo, .top:hover, .top-scroll .top, .top-ser .top {
	transition-delay: 0s;
	background-color: $pcol2;
}
.cont-s {
	padding-bottom: 20px;
	box-shadow: 0 0 20px #0008;
}
.content {
	min-height: calc(100vh - 80px);
	> .poster {
		margin-top: -40px;
		width: 100%;
		height: 400px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		@include skeleton;
		.poster-cover {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			//background-color: rgba(0,0,0, var(--poster-col));
			background: linear-gradient(#0000, #0005 75%);
		}
	}
	.cont, .eps, .more, .opt {
		margin: 0 auto;
		max-width: 1040px;
		padding: 0 36px;
		box-sizing: border-box;
	}
	.eps {
		padding-top: 20px;
	}
	.cont {
		display: flex;
		.cont-l {
			margin-right: 40px;
		}
		.usra, .image {
			width: 200px;
		}
		.image {
			height: 300px;
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;
			margin-top: -160px;
			position: relative;
			z-index: 1;
			box-shadow: 0 0 20px #0008;
			border-radius: 16px;
			@include skeleton-after;
		}
		.cont-r {
			> * {
				display: block;
			}
			.info {
				display: none;
			}
		}
		.title {
			font-size: 24px;
			margin-top: 12px;
		 &.skeleton {
				background-color: $skecol1;
				animation: skeleton0 1.5s ease-in-out 0.5s infinite;
				height: 24px;
				border-radius: 8px;
				width: (random(100) + 200)+px;
			}
		}
		.tags {
			padding-top: 12px;
			display: block;
			justify-content: center;
		}
		@for $i from 1 through 10 {
			.tag.skeleton:nth-child(#{$i}) {
				width: (random(60) + 40)+px;
			}
		}
		.tag {
			display: inline-block;
			padding: 4px 8px;
			background-color: $pcol3;
			border-radius: 16px;
			cursor: pointer;
			text-decoration: none;
			margin: 2px;
			box-shadow: 0 0 10px #0004;
			font-size: 14px;
			&.skeleton {
				background-color: $skecol1;
				animation: skeleton0 1.5s ease-in-out 0.5s infinite;
				height: 14px;
				cursor: default;
			}
			/*&:hover {
				box-shadow: 0 0 20px #0008;
			}*/
		}
		.info {
			display: block;
			padding: 10px;
			margin-top: 20px;
			background-color: $pcol2;
			box-shadow: 0 0 20px #0002;
			border-radius: 10px;
			> * {
				display: block;
				text-align: center;
			}
		}
		.usra {
			display: flex;
			flex-direction: row;
			justify-content: center;
			.ico {
				width: 36px;
				height: 36px;
				margin: 10px 10px 0;
				box-sizing: border-box;
				background-color: $pcol1;
				color: $pcol3;
				border: 2px solid $pcol3;
				border-radius: 50%;
				cursor: pointer;
				@include skeleton;
				&.skeleton {
					border-color: $skecol1;
				}
				&.ac {
					color: $fcol1;
					background-color: $pcol3;
				}
			}
			.fav {
				padding: 5px 4px;
			}
			.bkm {
				padding: 6px 8px;
			}
		}
		@for $i from 1 through 10 {
			.skeleton-inf:nth-child(#{$i}) {
				width: (random(100) + 60)+px;
			}
		}
		.skeleton-inf {
			background-color: $skecol1;
			animation: skeleton0 1.5s ease-in-out 0.5s infinite;
			border-radius: 6px;
			height: 12px;
			margin: 4px auto;
		}
		@for $i from 1 through 20 {
			.des.skeleton > *:nth-child(#{$i}) {
				width: (random(100) + 80)+px;
			}
		}
		.des.skeleton {
			margin-top: 10px;
			> * {
				display: inline-block;
				background-color: $skecol1;
				animation: skeleton0 1.5s ease-in-out 0.5s infinite;
				border-radius: 6px;
				height: 14px;
				margin: 2px 4px;
			}
		}
		.inf-t {
			margin-top: 6px;
			font-size: 14px;
			font-weight: bold;
		}
		.inf-v {
			margin-bottom: 6px;
			font-size: 12px;
			color: $fcol2;
		}
		//box-shadow: 0 0 40px #0004;
	}
	.more {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		* {
			text-decoration: none;
		}
		a {
			@include button;
			&:first-child {
				margin-right: auto;
			}
			&:last-child {
				margin-left: auto;
			}
			&:active, &.c1 {
				background-color: $pcol1;
				box-shadow: 0 2px 16px #0008;
			}
		}
	}
	.opt {
		display: flex;
		flex-direction: row-reverse;
		padding-top: 20px;
		> * {
			padding: 10px;
		}
		.srt, .vew {
			button {
				background-color: $pcol2;
				color: $fcol1;
				border: 0;
				padding: 8px;
				border-radius: 4px;
				cursor: pointer;
				line-height: 1;
				display: block;
				@include skeleton;
				&.skeleton {
					cursor: default;
					span, .ico > div {
						color: transparent !important;
						border-color: transparent !important;
						background-color: transparent !important;
					}
				}
			}
			span {
				line-height: 1;
				padding: 0 8px 0 0;
				position: relative;
				top: -4px;
			}
		}
		.srt {
			button {
				&.desc .ico div {
					&.a {
						transform: rotate(180deg);
						margin-top: 20px;
					}
					&.c {
						margin-top: 20px !important;
					}
					&.d {
						margin-top: 14px !important;
					}
					&.e {
						margin-top: 8px !important;
					}
					&.f {
						margin-top: 2px !important;
					}
				}
			}
			.ico {
				display: inline-block;
				width: 28px;
				height: 22px;
				position: relative;
				box-sizing: border-box;
				> div {
					display: block;
					position: absolute;
					border-radius: 2px;
					transition-duration: $default-transition;
					&:not(.a):not(.b) {
						background-color: $fcol1;
						height: 3px;
						margin: 2px 0 0 14px;
					}
					&.a {
						width: 0;
						height: 0;
						margin: 0 -0.6px;
						border: 6px solid transparent;
						border-top-width: 0;
						border-bottom-color: $fcol1;
					}
					&.b {
						margin: 2px 0 2px 4px;
						height: 100%;
						width: 3px;
						background-color: $fcol1;
					}
					&.c {
						width: 4px;
					}
					&.d {
						width: 6px;
						margin-top: 8px !important;
					}
					&.e {
						width: 8px;
						margin-top: 14px !important;
					}
					&.f {
						width: 10px;
						margin-top: 20px !important;
					}
				}
			}
		}
		.vew {
			button {
				&.list .ico > div {
					border-radius: 1px;
					&.a, &.b, &.c, &.d {
						width: 4px;
						height: 4px;
					}
					&.b { margin: 6px 0 0 0; }
					&.c { margin: 12px 0 0 0; }
					&.d { margin: 18px 0 0 0; }
					&.e, &.f, &.g, &.h {
						transition-delay: $default-transition;
						width: 20px;
						opacity: 1;
					}
				}
			}
			.ico {
				display: inline-block;
				width: 26px;
				height: 22px;
				position: relative;
				box-sizing: border-box;
				> div {
					display: block;
					position: absolute;
					border-radius: 2px;
					transition-duration: $default-transition;
					background-color: $fcol1;
					&.a, &.b, &.c, &.d {
						width: 10px;
						height: 10px;
					}
					&.e, &.f, &.g, &.h {
						width: 0;
						height: 4px;
						margin-left: 6px;
						opacity: 0;
					}
					&.f { margin-top: 6px; }
					&.g { margin-top: 12px; }
					&.h { margin-top: 18px; }
					&.b { margin: 0 0 0 14px; }
					&.c { margin: 14px 0 0 0; }
					&.d { margin: 14px 0 0 14px; }
				}
			}
		}
	}
}
@media (max-width: 520px) {
	.content .ep:not(.list) > *{
		width: calc(90vw - 60px);
	}
}
@media (max-width: 600px) {
	.content .cont {
		display: block;
	}
	.content .cont-l .info {
		display: none;
	}
	.content .cont-r .info {
		display: block !important;
	}
}
}
