@import 'main.scss';
[ui='comm'] {
.cent {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	padding: 10px 0;
	box-sizing: content-box;
	.title {
		font-size: 26px;
		display: block;
		text-align: center;
		margin: 4px 0;
	}
	.title2 {
		font-size: 20px;
		display: block;
		margin: 2px 0;
	}
	.cont {
		display: block;
		margin-bottom: 10px;
		
	}
	.cont + .item {
		margin-top: -10px;
	}
	.item {
		display: block;
		margin-left: 40px;
		&::before {
			content: '●';
			margin-right: 4px;
		}
	}
}
}
