@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$default-transition: .3s;
@function row-col($v) {
	@return unquote("rgb(var(--#{$v}))");
}
@function ic-col($v) {
	@return unquote("rgb(var(--ic-c-#{$v}))");
}
@mixin trim($numLines: null){
	@if $numLines != null {
		display:-webkit-box;
		-webkit-line-clamp:$numLines;
		-webkit-box-orient:vertical; 
		overflow:hidden;
	}
	@else{
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		display:block;
	}
}
@mixin skeleton($sel: '&.skeleton'){
	#{$sel} {
		background-color: $skecol1 !important;
		color: transparent !important;
		cursor: default;
		animation: skeleton0 1.5s ease-in-out 0.5s infinite;
	}
}
@mixin skeleton-text($height, $width: null, $sel: '&.skeleton', $min: 200, $max: 300){
	#{$sel} {
		background-color: $skecol1;
		animation: skeleton0 1.5s ease-in-out 0.5s infinite;
		height: $height;
		border-radius: 8px;
		@if $width == null {
			width: (random($max - $min) + $min)+px;
		}
		@else {
			width: $width;
		}
	}
}
@mixin skeleton-list($length: 10, $min: 200, $max: 300, $sel: '&.skeleton>*') {
	@for $i from 1 through $max {
		#{$sel}:nth-child(#{$i}) {
			width: (random($max - $min) + $min)+px;
		}
	}
}
@mixin skeleton-after($sel: '&.skeleton'){
	@include skeleton($sel + '::after');
	#{$sel} {
		background-color: $pcol2;
		overflow: hidden;
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			left: 0;
			right: 0;
		}
	}
}
@mixin check() {
	box-sizing: border-box;
	div {
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: transparent;
		border: 2px solid $pcol3;
		border-radius: 4px;
		margin: 0 2px 0;
		transition-duration: $default-transition;
		cursor: pointer;
		box-sizing: border-box;
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 8px;
			height: 4px;
			border: 3px solid $fcol1;
			border-top-color: transparent;
			border-right-color: transparent;
			transform: rotate(-60deg);
			opacity: 0;
		}
	}
	input:checked + div {
		background-color: $pcol3;
		&::after {
			opacity: 1;
		}
	}
}
@mixin button($col:null) {
	@if $col == null {
		background-color: $pcol2;
	}
	@else {
		background-color: $col;
	}
	color: $fcol1;
	border: 0;
	padding: 8px 16px;
	box-shadow: 0 0 10px #0004;
	border-radius: 4px;
	cursor: pointer;
	transition-duration: $default-transition;
	text-decoration: none;
	&.nope {
		display: none;
	}
}
@mixin fonts() {
	font-family: Inter,Roboto,Helvetica,'Segoe UI Emoji',-apple-system,BlinkMacSystemFont,Arial,'IC Noto Sans Sinhala','Segoe UI',Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue', sans-serif;
}
/*
$pcol1: #202040;
$pcol2: #543864;
$pcol3: #ff6363;
$pcol4: #ffbd69;
*/
$pcol1: #1a212b;
$pcol2: #33383e;
$pcol3: #00838f;
$pcol31: #00b2c2;
$fcol1: #fff;
$fcol2: #ccc;
$skecol1: #fff4;
$errcol1: #c84753;

body, a, span, p, textarea {
	@include fonts;
	font-size: 16px;
}
* {
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body, html, #root {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	min-height: 100vh;
	background-color: $pcol1;
	&, a {
		color: $fcol1;
	}
}
#root {
	display: block!important;
}
.main > *{
	display: block;
}
a[href="#main"] {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -100px;
	background-color: $pcol1;
	color: $fcol1;
	padding: 10px 20px;
	&:focus {
		margin-top: 0;
	}
}
@keyframes sel {
	0% {
		opacity: 0.2;
		margin-top: -10px;
	}
	100% {
		opacity: 1;
	}
}
.page-load-c {
	position: sticky;
	z-index: 90;
	&, > * {
		display: block;
		left: 0;
		top: 0;
		padding: 0;
		margin: 0;
		width: 100%;
	}
}
.page-load {
	&.nope {
		display: none;
	}
	position: absolute;
	height: 4px;
	background-color: lighten($pcol2, 10%);
	box-shadow: 0 2px 4px #0004;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 2px;
	background-clip: padding-box;
	> div {
		background-color: $pcol3;
		&:before {
			content: '';
			position: absolute;
			background-color: inherit;
			top: 0;
			left:0;
			bottom: 0;
			will-change: left, right;
			animation: page-load 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
		}
		&:after {
			content: '';
			position: absolute;
			background-color: inherit;
			top: 0;
			left:0;
			bottom: 0;
			will-change: left, right;
			animation: page-load-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
			animation-delay: 1.15s;
		}
	}
}
@keyframes page-load {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}
@keyframes page-load-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}
.select {
	display: inline-block;
	position: relative;
	background-color: $pcol2;
	box-sizing: border-box;
	padding: 8px 0;
	&, div {
		box-shadow: 0 0 10px #000A;
	}
	* {
		transition-duration: $default-transition;
	}
	> span {
		border-radius: 6px;
		border: 1px solid $pcol1;
		&:after {
			content: '';
			width: 6px;
			height: 6px;
			display: inline-block;
			border: 2px solid #fff;
			border-bottom-color: #0000;
			border-left-color: #0000;
			transform: rotate(135deg);
			margin: 0 0 3px 6px;
		}
	}
	span {
		background-color: $pcol2;
		padding: 9px 18px;
		text-align: left;
	}
	input {
		display: none;
	}
	input:checked ~ div {
		display: block;
		animation: sel $default-transition forwards;
	}
	input:checked ~ span {
		background-color: $pcol1;
	}
	div {
		position: absolute;
		display: none;
		margin-top: 10px;
		overflow-y: auto;
		max-height: 200px;
		background-color: $pcol2;
		border-radius: 6px;
		z-index: 20;
		* {
			display: block;
			white-space: nowrap;
			&:first-child {
				border-radius: 6px 6px 0 0;
			}
			&:last-child {
				border-radius: 0 0 6px 6px;
			}
			&:hover {
				background-color: $pcol1;
			}
		}
	}  
}
.top {
	height: 40px;
	width: 100%;
	background-color: $pcol2;
	padding: 0 20px;
	box-sizing: border-box;
	box-shadow: 0 0 10px #0006;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 20;
	> *:not(a[href="main"]) {
		display: block;
		position: relative;
		height: 100%;
		> * {
			display: inline-block;
			height: 100%;
		}
	}
	.topl {
		text-decoration: none;
		display: table;
		position: relative;
		height: 100%;
		padding:0 6px;
		&.nope {
			display: none;
		}
		> *:not(.prof) {
			display: table-cell;
			vertical-align: middle;
			white-space: nowrap;
		}
	}
	.top-l .topl {
		margin-right: 4px;
	}
	.top-r .topl {
		margin-left: 4px;
	}
	.top-l, .top-r {
		display: flex;
		height: 100%;
		* {
			flex-shrink: revert;
			flex-grow: revert;
		}
	}
	.top-l{
		float: left;
	}
	.top-r, .top-r-m {
		float: right;
	}
	.top-r-m {
		display: none;
		position: relative;
		&:focus {
			.btn > * {
				background-color: $fcol2;
			}
		}
		.btn {
			display: block;
			float: right;
			width: 40px;
			height: 40px;
			padding: 4px;
			box-sizing: border-box;
			cursor: pointer;
			> * {
				opacity: 1;
				display: block;
				width: 100%;
				height: 2px;
				background-color: $fcol1;
				margin: 6px 0;
				transition-duration: $default-transition;
			}
		}
		.men {
			display: none;
			position: absolute;
			right: -12px;
			top: 48px;
			border-radius: 6px;
			box-shadow: 0 0 10px #0008;
			transition-duration: $default-transition;
			> * {
				&:first-child {
					border-radius: 6px 6px 0 0;
				}
				&:last-child {
					border-radius: 0 0 6px 6px;
				}
			}
			> a {
				display: block;
				padding: 4px 8px;
				text-decoration: none;
				background-color: $pcol2;
				min-width: 120px;
				text-align: center;
				border: 1px solid $pcol1;
				transition-duration: $default-transition;
				cursor: pointer;
				&:hover {
					background-color: $pcol1;
				}
			}
		}
		input {
			display: none;
			&:checked ~ .men {
				display: block;
			}
			&:checked ~ .btn {
				> * {
					&:nth-child(1) {
						transform: rotate(45deg);
						margin-top: 16px;
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						transform: rotate(-45deg);
						margin-top: -16px;
					}
				}
			}
		}
		.mi.nope {
			display: none;
		}
	}
	.logo {
		display: block;
		padding-top: 4px;
		height: 100%;
		box-sizing: border-box;
		line-height: 1;
		* {
			display: inline-block;
		}
		img {
			height: 52px;
			margin-top: -10px;

			// pervent image padding
			margin-left: -10px;
		}
	}
	.ser {
		position: relative;
		* {
			display: inline-block;
			color: $fcol1;
			fill: $fcol1;
		}
		label {
			margin-top: 4px;
			position: relative;
			input {
				font-size: 16px;
				background-color: #0005;
				border: 0;
				line-height: 1;
				width: 160px;
				padding: 6px 6px 6px 28px;
				border-radius: 18px;
				outline-style: none;
				&:focus {
					background-color: #0006;
				}
			}
			div {
				position: absolute;
				width: 24px;
				height: 24px;
				margin: 3px 0 0 3px;
				cursor: pointer;
			}
		}
		.s-res {
			display: none;
			position: absolute;
			top: 48px;
			left: -40px;
			//border-radius: 6px;
			box-shadow: 0 0 10px #0008;
			//clip-path: polygon(-20px 0px, 110% 0, 110% 110%, -20px 110%);
			border-radius: 6px;
			> * {
				&:first-child {
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
					.img {
						border-top-left-radius: 6px;
					}
				}
				&:last-child {
					border-bottom-right-radius: 6px;
					border-bottom-left-radius: 6px;
					.img {
						border-bottom-left-radius: 6px;
					}
				}
			}
		}
		.n-res {
			width: 280px;
			display: table;
			border: 1px solid $pcol1;
			background-color: $pcol2;
			span {
				display: block;
				padding: 4px 8px;
				text-align: center;
			}
		}
		.res-c {
			width: 280px;
			display: table;
			border: 1px solid $pcol1;
			background-color: $pcol2;
			transition-duration: $default-transition;
			&:hover {
				background-color: $pcol1;
				transform: scale(1.05);
				box-shadow: 0 0 10px #0004;
			}
		}
		.res {
			display: table-row;
			&, * {
				text-decoration: none;
			}
			> * {
				display: table-cell;
				vertical-align: middle;
				height: 60px;
			}
			.img {
				width: 60px;
				background-position: center center;
				background-size: cover;
			}
			.name {
				@include trim(3);
				font-size: 14px;
				text-align: center;
			}
		}
		.more {
			display: block;
			text-align: center;
			cursor: pointer;
			padding: 4px 8px;
			background-color: $pcol1;
			font-size: 14px;
			text-decoration: none;
		}
	}
	.prof {
		width: 32px;
		height: 32px;
		margin: 4px;
		border-radius: 50%;
		background-size: cover;
		cursor: pointer;
		&.nope {
			display: none;
		}
	}
	&.fo {
		.s-res {
			display: block;
		}
	}
}
.bottom {
	background-color: $pcol2;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	div {
		display: block;
		> div {
			text-align: center;
		}
		> span{
			display: block;
			text-align: center;
			padding: 0 14px;
			&, * {
				font-size: 12px;
			}
			a {
				text-decoration: none;
				font-weight: bold;
				white-space:nowrap;
			}
		}
	}
}
.shadow {
	width: 100%;
	display: block;
	height: 20px;
	box-shadow: 0 0 20px #0008;
	clip-path: polygon(0 10px, 100% 10px, 100% 40px, 0 40px);
}

@keyframes skeleton0 {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

.content {
	min-height: calc(100vh - 120px);
	padding-bottom: 20px;
	box-sizing: border-box;
	.ani-li {
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
	}
	.ani-c {
		margin: 10px auto;
		display: inline-block;
		.ani {
			line-height: 1;
			&, * {
				text-decoration: none;
			}
			> * {
				width: 180px;
			}
			.img-c {
				height: 240px;
				position: relative;
				box-shadow: 0 2px 10px #0008;
				overflow: hidden;
				&, .img {
					border-radius: 6px;
				}
				&:hover .img {
					transform: scale(1.1) rotate(1deg);
				}
			}
			.img {
				height: 100%;
				background-size: cover;
				background-position: center;
				transition-duration: $default-transition;
			}
			.name {
				display: block;
				font-size: 14px;
				text-align: center;
				padding: 2px 4px;
				position: relative;
				z-index: 2;
				box-sizing: border-box;
				@include trim();
			}
			.ani-ep, .ani-yr {
				display: block;
				position: absolute;
				right: 0;
				background-color: #000C;
			}
			.ani-ep {
				padding: 4px 8px;
				top: 0;
			}
			.ani-yr {
				padding: 4px 0;
				width: 100%;
				bottom: 0;
				text-align: center;
			}
		}
	}
	.eps {
		&:not(.list) {
			display: grid;
			grid-template-columns: repeat(auto-fill,minmax(260px, 1fr));
		}
		&.list {
			display: flex;
			flex-direction: column;
		}
		margin-top: 20px;
		&.nope {
			display: block;
		}
		> span {
			display: block;
			text-align: center;
		}
	}
	.ep:not(.list) {
		margin: 6px auto;
		&, * {
			text-decoration: none;
			word-break: break-word;
		}
		span {
			position: relative;
			z-index: 2;
			@include trim();
		}
		> * {
			width: 240px;
			display: block;
		}
		.title {
			font-size: 16px;
		}
		.poster-c {
			height: 160px;
			margin-bottom: 2px;
			overflow: hidden;
			box-shadow: 0 2px 10px #0008;
			&, .poster {
				border-radius: 6px;
			}
			&:hover .poster {
				transform: scale(1.1);
			}
		}
		.poster {
			width: 100%;
			height: 100%;
			transition-duration: $default-transition;
			background-position: center;
			background-size: cover;
		}
		.name {
			font-size: 14px;
			color: $fcol2;
		}
	}
	.ep.list {
		margin: 6px auto;
		width: 100%;
		background-color: $pcol2;
		display: flex;
		flex-direction: row;
		padding: 10px 20px;
		border-radius: 6px;
		box-shadow: 2px 4px 10px #0004;
		transition-duration: $default-transition;
		box-sizing: border-box;
		&:hover, &:active {
			//background-color: $pcol3;
			.poster {
				transform: scale(1.2);
			}
		}
		&, * {
			text-decoration: none;
		}
		.poster-c {
			line-height: 0;
			overflow: hidden;
			display: block;
			margin-right: 10px;
			&, .poster {
				width: 100px;
				height: 60px;
			}
		}
		.poster {
			transition-duration: $default-transition;
			background-position: center;
			background-size: cover;
		}
		.name, .title {
			display: block;
			@include trim();
		}
		.name {
			font-size: 14px;
			color: $fcol2 !important;
		}
		.se-2 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: calc(100% - 110px);
		}
	}
	.skeleton {
		&.ani {
			.name {
				height: 10px;
				margin-top: 6px;
			}
			.name, .img {
				background-color: $skecol1;
				animation: skeleton0 1.5s ease-in-out 0.5s infinite;
				border-radius: 4px;
			}
		}
		&.ep:not(.list) {
			padding-bottom: 3px;
			.title {
				height: 14px;
				margin-top: 8px;
			}
			.name {
				margin-top: 4px;
				height: 10px;
			}
			.poster, .title, .name {
				background-color: $skecol1;
				animation: skeleton0 1.5s ease-in-out 0.5s infinite;
				border-radius: 4px;
			}
		}
		&.ep.list {
			@include skeleton('.poster');
			@include skeleton-text(16px, 100px, '.title');
			@include skeleton-text(14px, 220px, '.name');
			.title, .name {
				max-width: 100%;
			}
			.title {
				margin-top: 2px;
			}
			.name {
				margin-top: 4px;
			}
		}
	}
	.sign-req {
		box-sizing: border-box;
		padding: 40px 0 0 0;
		&.nope {
			display: none !important;
		}
		.des {
			display: block;
			text-align: center;
			padding: 20px 0;
		}
		.btn0 {
			margin: 0 auto 20px;
			display: block;
			width: 100px;
			text-align: center;
			@include button;
		}
	}
}
.notis-c {
	display: block;
	position: sticky;
	left: 0;
	top: 0;
	height: 0;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	z-index: 22;
}
.notis {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	* {
		pointer-events: initial;
	}
	.notif {
		display: flex;
		flex-direction: row;
		margin: -60px auto 0;
		background-color: $pcol2;
		box-shadow: 0 0 20px #0008;
		padding: 10px;
		border-radius: 4px;
		max-width: 60%;
		&.s1 {
			&:nth-child(1) {
				margin-top: 60px;
			}
			margin-top: 10px;
			transition: margin-top $default-transition;
		}
		&.err {
			background-color: $errcol1;
		}
		> * {
			cursor: default;
		}
		.btn, .ico {
			width: 22px;
			height: 22px;
			background-color: transparent;
			border: 0;
			padding: 3px;
			margin: 0;
			box-sizing: border-box;
			margin-top: -2px;
			color: $fcol1;
			flex-shrink: 0;
		}
		.ico, .tit {
			margin-right: 10px;
		}
		.btn {
			cursor: pointer;
		}
	}
}
@media (max-width: 520px) {
	.top {
		.top-l > *:not(.logo) {
			display: none;
		}
		.top-r {
			display: none;
		}
		.top-r-m {
			display: inline-block;
		}
	}
}
@media (max-width: 460px) {
	.content {
		.ani-li {
			grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
		}
		.ani-c .ani {
			.img-c, .name {
				width: 128px;
			}
			.img-c {
				height: 170px;
			}
			.ani-ep, .ani-yr {
				font-size: 12px;
			}
			.name {
				font-size: 12px;
			}
		}
		.eps.list {
			padding: 20px 10px !important;
		}
	}
	.notis .notif {
		max-width: 90%;
	}
}
//linked to index.js
@media (max-width: 420px) {
	.content {
	}
}
