@import 'main.scss';
.content {
	--poster-col: 0.1;
}
.top {
	background-color: #0005;
	transition-duration: $default-transition;
	transition-delay: 1s;
}
.top.fo, .top:hover, .top-scroll .top, .top-ser .top {
	transition-delay: 0s;
	background-color: $pcol2;
}
.cont-s {
	padding-bottom: 20px;
 	box-shadow: 0 0 20px #0008;
}
.content {
	min-height: calc(100vh - 60px);
	> .poster {
		margin-top: -40px;
		width: 100%;
		height: 400px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		.poster-cover {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			//background-color: rgba(0,0,0, var(--poster-col));
			background: linear-gradient(#0000, #0005 75%);
		}
	}
	.cont, .eps, .more {
		margin: 0 auto;
		max-width: 1040px;
		padding: 0 36px;
		box-sizing: border-box;
	}
	.cont {
		display: flex;
		.cont-l {
			margin-right: 40px;
		}
		.image {
			width: 200px;
			height: 300px;
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;
			margin-top: -160px;
			position: relative;
			z-index: 1;
			box-shadow: 0 0 20px #0008;
			border-radius: 16px;
		}
		.cont-r {
			> * {
				display: block;
			}
			.info {
				display: none;
			}
		}
		.title {
			font-size: 24px;
			margin-top: 12px;
		}
		.des {
		}
		.tags {
			padding-top: 12px;
			display: block;
			justify-content: center;
		}
		.tag {
			display: inline-block;
			padding: 4px 8px;
			background-color: $pcol3;
			border-radius: 16px;
			cursor: pointer;
			text-decoration: none;
			margin: 2px;
			box-shadow: 0 0 10px #0004;
			font-size: 14px;
			&:hover {
			box-shadow: 0 0 20px #0008;
			}
		}
		.info {
			display: block;
			padding: 10px;
			margin-top: 20px;
			background-color: $pcol2;
			box-shadow: 0 0 20px #0002;
			border-radius: 10px;
			> * {
				display: block;
				text-align: center;
			}
		}
		.inf-t {
			margin-top: 6px;
			font-size: 14px;
			font-weight: bold;
		}
		.inf-v {
			margin-bottom: 6px;
			font-size: 12px;
			color: $fcol2;
		}
		//box-shadow: 0 0 40px #0004;
	}
	.more {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		* {
			text-decoration: none;
		}
		a {
			color: $fcol1;
			background-color: $pcol2;
			border: 0;
			padding: 8px 16px;
			box-shadow: 0 0 10px #0004;
			border-radius: 4px;
			cursor: pointer;
			transition-duration: $default-transition;
			&.nope {
				display: none;
			}
			&:first-child {
				margin-right: auto;
			}
			&:last-child {
				margin-left: auto;
			}
			&:active, &.c1 {
				background-color: $pcol1;
				box-shadow: 0 2px 16px #0008;
			}
		}
	}
}
@media (max-width: 600px) {
  .content .cont {
    display: block;
  }
  .content .cont-l .info {
  	display: none;
  }
  .content .cont-r .info {
  	display: block !important;
  }
}
