@import 'main.scss';
.content {
	.title-a, .title, .info {
		display: block;
		text-align: center;
	}
	.title-a {
		font-size: 28px;
		padding: 20px;
	}
	.title {
		font-size: 22px;
		padding: 12px 0 0;
	}
	.info {
		color: $fcol2;
		padding-bottom: 12px;
	}
	.chart-c {
		display: block;
		max-height: 500px;
		max-width: 1000px;
		width: 80vw;
		height: 40vw;
		//background-color: $pcol2;
		margin: 0 auto;
	}
}
@media (max-width: 420px) {
	.chart-c {
		width: calc(100vw - 20px) !important;
		height: calc(50vw - 20px) !important;
	}
}
